.input{
	width: 500px;
	max-width: 100%;
	height: 4vh;
	margin-right: 8px;
}

body, p {
	width: 700px;
	max-width: 100%;
	font-size: 2vh;
}

h1 {
	font-size: 7vh;
	text-align: center;
	width: 100vw;
	max-width: 500px;
}


form h4 {
	margin-bottom: 2px;
	font-size: 2vh;
}

form div {
	margin-top: 1vh;
}

form div p {
	display: inline;
	margin-top: 0px;
	margin-bot: 0px;
}

#consent {
	height: 3vh;
	width: 3vh;
	min-height: 15px;
	min-width: 15px;
}

#submit:hover {
	cursor: pointer;
}

span:hover {
	cursor: pointer;
}

#submit {
	border-style: solid;
	border-color: #92bb35;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 3vh;
	width: 17vh;
	background-color: #222b34;
	color: #92bb35;
	text-transform: uppercase;
	border-width: 2 2 2 2;
	text-align: center;
	padding: 5px 5px 5px 5px;
	
}