
html {
	background-color: #222B34;
}

.ready
{
	height: 20px;
	width: 20px;
}

#Fucked {
	position: fixed; 
	bottom: 0;
}

.button {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 17px;
	letter-spacing: 0.8px;
	line-height: 17px;
	padding: 9px 13px;
	text-transform: uppercase;
	-webkit-appearance: none;
	border-width: 2px;
	border-style: solid;
	border-color: #92bb35;
	background: transparent;
	color: #92bb35;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4);
	text-decoration: none;
}

.button:active {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 17px;
	letter-spacing: 0.8px;
	line-height: 17px;
	padding: 9px 13px;
	text-transform: uppercase;
	-webkit-appearance: none;
	border-width: 2px;
	border-style: solid;
	border-color: #ffcc00;
	background: transparent;
	color: #ffcc00;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4);
	text-decoration: none;
}

#table {
	padding-top: 3cm;
}

#knappar {
	align: center;
}

#start {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}